<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766633990007-uk77gl324a2bmrh6lh36kk2f4ocj1gn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766633990007-uk77gl324a2bmrh6lh36kk2f4ocj1gn8</string>
	<key>API_KEY</key>
	<string>AIzaSyB6jcDbeXVYgesU2SiNvSDVtZgtztuiNbc</string>
	<key>GCM_SENDER_ID</key>
	<string>766633990007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkaykuzu.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-d0116</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-d0116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766633990007:ios:63a4cb36cfe280dc853372</string>
</dict>
</plist>